<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container col-lg-4 col-md-6 col-sm-8 mx-auto">
        <h1 class="text-center">Авторизация</h1>
        <form method="post">
            {{ render_form(form) }}
        </form>
        <div class="text-center register-link">
            <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>


