<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Unconfirmed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="mb-4">Подтвердите вашу учетную запись</h1>
        <p class="mb-4">Пожалуйста, проверьте свою электронную почту</p>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Назад</a>
    </div>
</body>
</html>
