{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title">Редактировать новость</h1>
                    <form method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Заголовок</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{ news.title }}">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Ссылка на изображение</label>
                            <input type="text" class="form-control" id="image" name="image" value="{{ news.image }}">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Описание</label>
                            <textarea class="form-control" id="description" name="description">{{ news.description }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Контент</label>
                            <textarea class="form-control" id="content" name="content" rows="10">{{ news.content }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
